<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>CLIENTE</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
        <h:form>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <p><strong><h1>SOLICITAR UMA SENHA</h1></strong></p>
                <br/>
                <p:commandButton action="senha?faces-redirect=true" value="NORMAL" id="senhaNormal" actionListener="#{senhaBean.senhaNormal()}" ajax="false" />
                <p:commandButton action="senha?faces-redirect=true" value="PREFERENCIAL" id="senhaPreferencial" actionListener="#{senhaBean.senhaPreferencial()}" ajax="false" />    
            </div>       
        </h:form>
    </h:body>
</html>

