<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>GERENTE</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p><h1>Senha chamada: <strong><h:outputText id="chamada" class="senha" value="#{senhaBean.chamada}" /></strong></h1></p>
            <p:poll interval="1" update="chamada" />
            <p>Restante: <h:outputText id="restante" value="#{senhaBean.restante}" /></p>
            <p:poll interval="1" update="restante" />
            <p:commandButton value="CHAMAR PROXIMA" id="chamar" actionListener="#{senhaBean.chamaSenha()}" ajax="false" />
            <p:commandButton value="REINICIAR CONTAGEM" id="reiniciar" actionListener="#{senhaBean.reiniciaContagem()}" ajax="false" />
            <br/><br/><br/>
            <p:link value="Voltar ao Menu" outcome="index"/>
        </h:form>
    </h:body>
</html>

