<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>SENHA</title>
        <h:outputStylesheet library="css" name="estilo.css"/>
        <meta http-equiv="refresh" content="5;url=cliente.xhtml" />
    </h:head>
    <h:body>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p><h1>SUA SENHA É <strong class="senha">#{senhaBean.senha}</strong></h1></p>
            <p>Por favor aguarde até ser chamado</p>
        </div>

    </h:body>
</html>

